#searchbutton {
    background-color: #FFF;
    width: 10%;
    font-size: 1.5em;
}
#searchform{
  margin-bottom:0px;
}
#searchbar {
    width: 70%;
    margin:0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
    top:5px;
}

#searchtext {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
}
@media(max-width:1000px){
  #searchtext{
    width:70%;
  }
  #searchbutton{
  width:20%;
  }
}
#content{
    margin: 0 auto;
    text-align: center;
}
#content:nth-child(3n+0){
    clear:both;

}
.element{
    word-wrap: break-word;
    display: inline-block;
    height: auto;
    min-height:20vh;
    border-radius: .5em;
    background-color: #fff;

}
.element:hover{
    box-shadow:1px 1px 1px #000;
    -webkit-transform:scale(1.05);
}
.outerelement .element{
    width: 100%;
    float: left;
}
.outerelement{
    padding: 10px;
}
.page {
    background-color:#EFEFEF;
    height:auto;
    min-height: 100%;
    position: relative;
    margin-top: 60px;

}
#playerholder {
    display:block;
    text-align:center;
    top:50%;
    position:relative;
    box-shadow:1px 1px 2px #000000;
}
.fixedheader {
    position: fixed;
    top: 0;
    z-index:1000;
    width: 100%;
    height:60px;
    background-color: rgba(255, 255, 255, 0.70);
    text-align:center;
    box-shadow:1px 1px 2px #000000;
}
.activatedEntry{
    background-color:#8b8b8b !important;
}

.albumImage {
    padding: 1.25em;
    display:inline-block;
    width:40%
}

#backbutton {
    display: inline;
    width:10px;
}

.fa-arrow-left:hover {
    color: #E0E0E0;
}

.deactivatedarrow {
    opacity: 0;
}



/*Styles for the welcome page.*/


#welcome-body {
    background-color: #FFF;
    font-family: 'Lato';
    height:100%;
    overflow:hidden;
}


#signup-button {
}

.welcome-page-button {
    display: inline-block;
    background-color: #2196F3;
    border-radius: 5px;
    font-size: 2em;
    color: #fff;
    padding: 0.5em;
    margin: 0 auto;
}

#mainhero {
    text-align: center;
    padding:20%;
}

div #mainbackground {
    width: 100%;
    position: absolute;
    top: 0;
}


#optionsbar {
    display: block;
    text-align: center;
    margin:0  auto;
    width: 50%;

}
#playerbar{
    position:fixed;
    width:100%;
    height:60px;
    bottom:0;
    z-index:100;
    display:none;
}
#spinner{
}
.hidden{
  display:none;
}
.dialog{
  position:fixed;
  width:40%;
  height:20%;
  text-align:center;
  top:25%;
  left:30%;
}
#spinner p{
  display:block;
}
.spinner{
  display:block;
}
.title{
  display:block;
}
.info_holder{
  display:inline-block;
  width:50%;
  text-align:left;
}
