<html>
    <head>
                <script src="static/js/jquery-1.11.2.min.js"></script>

        <link  rel="stylesheet" href="static/css/stylesheet.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="static/js/masonry.pkgd.min.js"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="static/js/content.js"></script>
    </head>
    <body>

        <div class="container-fluid">
            <div id="searchbar">
                <form id="searchform">
                    <input id="searchtext" type="text" placeholder="Search" required/>
                    <input id="searchbutton" type="button" value="Search" />

                </form>
            </div>
            <div id="content">


            </div>
        </div>

    </body>

</html>
