body{
    height: 100vh;

}

#searchbutton {
    background-color: #FFF;
    width: 5em;
    font-size: 2em;
}

#searchbar {
    width: 90%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
}

#searchtext {
    width: 80%;
    font-size: 2em;

}
#content{
    margin: 0 auto;

}
#content:nth-child(3n+0){
    clear:both;

}
.element{
    word-wrap: break-word;
    display: inline-block;
    height: auto;
    background-color: #e2e0e0;

}
.outerelement .element{
    width: 100%;
    float: left;
}
.outerelement{

    padding: 10px;

}