body{
    background-color: #424242;
}
.activatedEntry{
  background-color#323232;

}
#searchbutton {
    background-color: #FFF;
    width: 5em;
    font-size: 2em;
}

#searchbar {
    width: 90%;
    height: 2em;;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

#searchtext {
    width: 80%;
    font-size: 2em;

}
#content{
    margin: 0 auto;
    text-align: center;
}
#content:nth-child(3n+0){
    clear:both;

}
.element{
    word-wrap: break-word;
    display: inline-block;
    height: auto;
    min-height:20vh;
    border-radius: .5em;
    background-color: #fff;

}
.outerelement .element{
    width: 100%;
    float: left;
}
.outerelement{

    padding: 10px;

}
.page {
    background-color: #424242;
    height:auto;
    min-height: 100%;
    position: relative;
}

#playerholder {
    height: 10vh;
    margin-top: 10vh;
}

.fixedheader {
    position: fixed;
    top: 0;
    z-index:1000;
}
