body{
    height: 100vh;

}

#searchbutton {
    background-color: #FFF;
    width: 5em;
    font-size: 2em;
}

#searchbar {
    width: 90%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
}

#searchtext {
    width: 80%;
    font-size: 2em;

}
div{
font-size: 1.2em;
    
}
#content{
width: 90%;
    margin: 0 auto;

}
.element{
    min-width: 30%;
    width: 30%;
    word-wrap: break-word;
    display: inline-block;
    min-height:  20vh;
    height: auto;
    margin: 20px;
    background-color: #e0e0e0;

}