<html>
    <head>
        <script src="static/js/jquery-1.11.2.min.js"></script>
        <script src="static/js/imagesloaded.pkgd.min.js"></script>
        <script src="static/js/spin.js"></script>
        <link  rel="stylesheet" href="static/css/stylesheet.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="static/js/masonry.pkgd.min.js"/>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <script src="static/js/content.js"></script>
            <title>Muzik</title>
        </head>
        <body>
            <div class="fixedheader">
                <div id="searchbar">
                    <div id="backbutton" class="deactivatedarrow" ><i class="fa fa-arrow-left fa-2x"></i></div>
                    <form id="searchform">
                        <input id="searchtext" type="text" placeholder="Search" required/>
                        <input id="searchbutton" type="button" value="Search" />
                    </form>
                </div>
            </div>
            <div id="playerbar">
                <div id="playerholder"></div>
            </div>
            <div class="container-fluid page">

                <div id="content">
                    {% for x in elements%}
                    <div onclick="handleSearchClick('{{x.title.replace('\'','')}}'+' '+'{{x.artist}}')" class="outerelement col-md-4"><div class="element" id="14"><img class="albumImage"  src="{{x.albumArt}}"/><div class="info_holder"><h4 class="title">{{x.title}}</h4><h5 class="artist">{{x.artist}}</h5></div></div></div>
                    {% endfor %}
                </div>

            </div>

            <div id="spinner" class="hidden">
                <div></div>
            </div>
        </body>

    </html>
